---
title: Wanna Buy 💕
description: Collection of beautiful things that you can buy in India
---

{{#extend "master"}}
{{#content "body"}}
			
			<section class="list-container container">
				<ul class="list">
					<li class="list-item">
						<a href="/" title="Name of the object - Store name">
							<article class="list-item-article">
								<figure><img src="images/daily-obj.png" alt="" /></figure>
								<header>
									<h3>Daily Objects</h3>
									<h1>Atym Card Wallet</h1>
									<h2>₹ 345</h2>
								</header>
							</article>
						</a>
					</li>
					<li class="list-item">
						<a href="/" title="Name of the object - Store name">
							<article class="list-item-article">
								<figure><img src="images/daily-obj.png" alt="" /></figure>
								<header>
									<h3>Daily Objects</h3>
									<h1>Atym Card Wallet</h1>
									<h2>₹ 345</h2>
								</header>
							</article>
						</a>
					</li>
					<li class="list-item">
						<a href="/" title="Name of the object - Store name">
							<article class="list-item-article">
								<figure><img src="images/daily-obj.png" alt="" /></figure>
								<header>
									<h3>Daily Objects</h3>
									<h1>Atym Card Wallet</h1>
									<h2>₹ 345</h2>
								</header>
							</article>
						</a>
					</li>
					<li class="list-item">
						<a href="/" title="Name of the object - Store name">
							<article class="list-item-article">
								<figure><img src="images/daily-obj.png" alt="" /></figure>
								<header>
									<h3>Daily Objects</h3>
									<h1>Atym Card Wallet</h1>
									<h2>₹ 345</h2>
								</header>
							</article>
						</a>
					</li>
					<li class="list-item">
						<a href="/" title="Name of the object - Store name">
							<article class="list-item-article">
								<figure><img src="images/daily-obj.png" alt="" /></figure>
								<header>
									<h3>Daily Objects</h3>
									<h1>Atym Card Wallet</h1>
									<h2>₹ 345</h2>
								</header>
							</article>
						</a>
					</li>
					<li class="list-item">
						<a href="/" title="Name of the object - Store name">
							<article class="list-item-article">
								<figure><img src="images/daily-obj.png" alt="" /></figure>
								<header>
									<h3>Daily Objects</h3>
									<h1>Atym Card Wallet</h1>
									<h2>₹ 345</h2>
								</header>
							</article>
						</a>
					</li>
				</ul>
			</section>
  
{{/content}}
{{/extend}}
